@import "./utils/fonts";
@import "./utils/normalize";
@import "./utils/variables";
@import "./utils/mixins";
@import "./components/general";
@import "./components/Heder/navigation";
@import "./components/Heder/logo";
@import "./components/Heder/contact-menu";
@import "./components/portfolio/button";
@import "./components/portfolio/projects";
@import "./components/team-section/social-networks";
@import "./components/footer/adressbox";
@import "./components/footer/logo-footer";
@import "./components/footer/social-networks-footer";
@import "./components/footer/joinbox";
