
.contacts {
     display:inline-flex;
    @include font(14px, 1.16, 500);
    letter-spacing: 0.02em;
    
           @include for-tablet{
            @include font(12px, 1.16, 500);
         &:first-child{
          margin-bottom: 10px;
       }
       @include for-desktop{
        @include font(14px, 1.14, 500);
        align-items: center;
        margin-bottom: 0px;
        &:first-child{
          margin-bottom: 0px;
                 }
                 &:last-child{
                   margin-left: 30px;
                 }
           
       }
    }}
  
  .icon-male {
    height: 12px;
    width: 16px;
    margin-right: 10px;
    fill: currentColor;
   }
  .icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  
  
  .menu-links {
      
    @include for-tablet{
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: auto;}

      @include for-desktop{

        align-items: center;
         flex-direction: row;
         
        
    }}

  