
.contacts {
     display:inline-flex;
    @include font(14px, 1.16, 500);
    letter-spacing: 0.02em;
    align-items: center;
  }
  .icon-male {
    height: 12px;
    width: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  .icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  
  .menu-links .contacts + .contacts {
    margin-left: 30px;
  }
  .menu-links {
    display:flex;
    margin-left: auto;
    align-items: center;
  }