.nav-container,.nav-list,
.navigation{
     display:flex;
    align-items: center;
}
.nav-list .nav-list-item + .nav-list-item {
    margin-left: 50px;
  }
  .nav-list-item:first-child {
    margin-left: 70px;
  }
  .nav-list-link {
    @include font(14px, 1.14, 500);
    letter-spacing: 0.02em;
    color: $title-text-color;}
    .nav-list-item{
         position:relative;
       
    }
    .current-link {
        color: $accent-color;
      
      &::after {
        content: "";
         position:relative;
        transform: translateY(25px);
         display:block;
        width: 100%;
        height: 4px;
        bottom: 0px;
        left: 0px;
        background-color: $accent-color;
        border-radius: 2px;
      }}
      