.activity-list-item {
    position: relative;
    width: 370px;
    height: auto;
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
  
  &:nth-child(3n) {
    margin-right: 0px;}

  & > img {
      
    display: block;
    height: 100%;
    width: 100%;
    
  }
}
  .activity-description {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    margin-bottom: 0;
    color: $primary-white-color;
    background-color: $activity-background-color;
  }
  
  
  