.footer {
    background-color: $footer-background-color;
  }

  .footer-box {
    @include for-desktop{
      display: flex;
    align-items: baseline;
    padding: 60px 0;}

  }
  
  .footer-contacts {
    @include font( 14px, 1.71, 400);
    font-style: normal;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 60px;
    text-align: center;
    @include for-desktop{
      margin-bottom: 0px;
    }
  }
  .adress {
    color: $primary-white-color;
  }
  .adress-box {
    margin-bottom: 60px;
    @include for-desktop{
    margin-right: 69px;
    margin-bottom: 0px;
  }}