.header{
    position: relative;
}

.menu-container{
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background-color: $primary-white-color;
   
   
}
.menu-container.is-open{
    display: block;
    z-index: 2;

  
}
.menu-navigation, .contacts-menu{
    display: flex;
    @include font( 18px, 1.17, 500);
    flex-direction: column;
        align-items: center;
    width: 100%;
   
}

.menu-navigation {
    margin-bottom: 60px;
}
.nav-list-item-menu:not(:last-child){
    margin-bottom: 40px;
}

.contacts-menu-item:not(:last-child){
    margin-bottom: 16px;
}