$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-socialnetworks-color: rgba(255, 255, 255, 0.1);
$footer-background-color: #2f303a;
$activity-background-color: rgba(47, 48, 58, 0.8);
$background-button-color: #f5f4fa;
$ovelay-bgrimage-color: rgba(47, 48, 58, 0.4);
$overlay-color: rgba(33, 150, 243, 0.9);
$overlay-modal: rgba(0, 0, 0, 0.2);
$mainFont:Roboto, sans-serif;
$secondFont: Raleway, sans-serif;